.header {
    position: sticky;
    top:0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    background-color: grey;
}
h1 {
    margin: 0;
    font-family:cursive;
    font-weight: bold;
}
video {
    margin-bottom: 0px;
    width:100%;
    height:450px;
    object-fit: fill;
}
.classifier {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    background-color: grey;
    position: sticky;
    top:3em;
}
body {
    margin: 0px;
    background-color: #F8E7D7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menu {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
}
.card {
    background-color: #E0F2F7;
    width:250px;
    height:420px;
    margin: 10px 15px;
    text-align: center;
    border:3px solid chocolate;
    padding: 15px;
    border-radius: 10px;
}
.labels {
    text-align: center;
    display: block;
    margin: 5px auto;
    width: 98%;
    background-color: #764848;
    color: skyblue;
    padding: 10px 0px;
}
.dish {
    width: 250px;
    height:200px;
    border-radius: 8px;
    border: 2px solid grey;
}
.buttons {
    color: white;
    background-color: chocolate;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}
html {
    scroll-padding-top: 110px;
}
